<?xml version="1.0"?>
<launch>

  <arg name="save_directory" />
  
  <arg name="continue"               default="false" />
  <arg name="continue_from"          default="0" />
  
  <arg name="save_image"             default="true" />
  <arg name="save_image_camera_info" default="true" />
  <arg name="save_ir"                default="true" />
  <arg name="save_ir_camera_info"    default="true" />
  <arg name="save_depth_image"       default="true" />
  <arg name="save_depth_camera_info" default="true" />
  <arg name="save_point_cloud"       default="true" />
  
  <arg name="kinect_name"            default="kinect2" />
  <arg name="kinect_base_topic"      default="kinect2_head" />
  
  <!-- Convert: Depth to Point Cloud -->
  <node pkg="nodelet" type="nodelet" name="depth_to_points_xyz_nodelet" args="standalone depth_image_proc/point_cloud_xyz"
        respawn="false" if="$(arg save_point_cloud)">
    <remap from="image_rect" to="/$(arg kinect_base_topic)/depth/image" />
    <remap from="points"     to="/$(arg kinect_base_topic)/depth/points" />
    <param name="queue_size" type="int" value="2" />
  </node>

  <arg name="debug"                     default="false" />
  <arg name="launch-prefix"             value="" unless="$(arg debug)" />
  <arg name="launch-prefix"             value="gdb -ex run --args" if="$(arg debug)" />

  <!-- Capture: Image + IR + Depth + Point Cloud -->
  <node pkg="sensor_data_collection" type="data_collection_node" name="$(arg kinect_name)_data_collection"
        launch-prefix="$(arg launch-prefix)" output="screen" required="true">
    
    <param name="device_name"             value="$(arg kinect_name)" />
    <param name="save_directory"          value="$(arg save_directory)" />
    <param name="image_extension"         value="$(arg image_extension)" />
    
    <param name="continue"                value="$(arg continue)" />
    <param name="continue_from"           value="$(arg continue_from)" />
    
    <param name="save_image"              value="$(arg save_image)" />
    <param name="save_image_camera_info"  value="$(arg save_image_camera_info)" />
    <param name="save_ir"                 value="$(arg save_ir)" />
    <param name="save_ir_camera_info"     value="$(arg save_ir_camera_info)" />
    <param name="save_depth_image"        value="$(arg save_depth_image)" />
    <param name="save_depth_camera_info"  value="$(arg save_depth_camera_info)" />
    <param name="save_point_cloud"        value="$(arg save_point_cloud)" />
    
    <param name="depth_type"              value="uint16" />
    
    <remap from="~action"                 to="/action" />
    <remap from="~image"                  to="/$(arg kinect_base_topic)/rgb/image" />
    <remap from="~image_camera_info"      to="/$(arg kinect_base_topic)/rgb/camera_info" />
    <remap from="~ir"                     to="/$(arg kinect_base_topic)/ir/image" />
    <remap from="~ir_camera_info"         to="/$(arg kinect_base_topic)/ir/camera_info" />
    <remap from="~depth"                  to="/$(arg kinect_base_topic)/depth/image" />
    <remap from="~depth_camera_info"      to="/$(arg kinect_base_topic)/depth/camera_info" />
    <remap from="~point_cloud"            to="/$(arg kinect_base_topic)/depth/points" />
    
  </node>

</launch>
